@font-face {
    font-family: 'Avenir Next';
    src: url('./assets/Font/AvenirNextLTPro-Regular.wotf') format('opentype');
    
  }
  
  @font-face {
    font-family: 'Avenir Next';
    src: url('./assets/Font/AvenirNextLTPro-Demi.wotf') format('opentype');
    
  }
  
  @font-face {
    font-family: 'Avenir Next';
    src: url("./assets/Font/AvenirNextLTPro-Bold.wotf") format('opentype');
    
  }
  
