@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: $BandSite-Black;
    color: $White;
    

    &__text {
        @include flex-space-around;

        h3 {
            margin: 0;
            @include mobile-footer-copy;
        }
    }
}

main {
    .hero {
        height: 12.75rem;
        background: linear-gradient(0deg, rgba($BandSite-Black, 0.5), rgba($BandSite-Black, 0.5)), url("/assets/Images/hero-bio.jpg");
        background-size: 100%;
        display: flex;
        align-items: center;

        &__text {
            position: absolute;
            z-index: 1;
            color: $White;
            margin: 1rem;

            h1 {
                @include mobile-footer-copy;
            }
        }
    }

    .mid {
        padding: 1rem;

        &__content {
            &-img {
                overflow: hidden;
                height: 48vw;
                position: relative;

                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }

    .bottom {
        background-color: $Alabaster;
        padding: 1rem;

        h2 {
            margin-top: 0;
        }

        &__imgs {
            @include flex-center;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
            flex-wrap: wrap;

            img {
                position: relative;
                width: 100%;
            }
        }
    }
}

footer {
    background-color: $BandSite-Black;
    color: $White;
    padding: 1rem;

    .footer-text {
        &__hide-mobile {
            display: none;
        }

        &__top {
            &-icons {
                display: flex;
                gap: 2rem;
            }
        }
    }

    .footer-address {
        &__span {
            display: block;
        }
    }
}
