@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next";
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 5rem;
    width: 100%;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0.4rem 0;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0.8rem 4rem 0.6rem 0;
  }
}
.header__logo a {
  text-decoration: none;
}
.header__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__text a {
  text-decoration: none;
}
.header__text h3 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #E1E1E1;
}
.header__text-link {
  border-bottom: 0.1875rem solid transparent;
  width: 50%;
  text-align: center;
  padding-bottom: 0.4rem;
}
.header__text-link.active, .header__text-link:hover, .header__text-link:active {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__text-link.active h3, .header__text-link:hover h3, .header__text-link:active h3 {
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__text {
    gap: 4rem;
  }
  .header__text h3 {
    padding: 1.8rem 0 0.8rem;
  }
}

main .hero {
  height: 58vw;
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-bio.jpg") center/cover;
  display: flex;
  align-items: center;
}
main .hero__text {
  position: absolute;
  z-index: 1;
  color: #FFFFFF;
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main .hero__text {
    margin: 2rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  main .hero__text {
    margin: 7.8rem;
    font-size: 3.6rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  main .hero {
    background-position: bottom;
  }
}
@media (min-width: 1280px) {
  main .hero {
    height: 38rem;
    background-position: 0% -2em;
  }
}
main .gallery {
  padding: 1rem;
}
main .gallery__headline h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #323232;
  margin: 0.8rem 0;
}
@media (min-width: 768px) {
  main .gallery__headline h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 2rem 0 1.5rem -3.5rem;
  }
}
main .gallery__content {
  color: #323232;
}
main .gallery__content-img {
  overflow: hidden;
  height: 48vw;
  position: relative;
}
main .gallery__content-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  main .gallery__content-img img {
    bottom: -2.2rem;
  }
}
@media (min-width: 1280px) {
  main .gallery__content-img img {
    bottom: -3rem;
  }
}
@media (min-width: 768px) {
  main .gallery__content-img {
    height: 42vw;
  }
}
@media (min-width: 1280px) {
  main .gallery__content-img {
    height: 36vw;
  }
}
main .gallery__content h2 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  main .gallery__content h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 0.45rem;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  main .gallery__content h2 {
    margin-top: 2rem;
  }
}
main .gallery__content #vocalist {
  margin-top: 0.25rem;
}
@media (min-width: 768px) {
  main .gallery__content #vocalist {
    font-size: 1.1rem;
    margin: 0 0 3rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  main .gallery__content #vocalist {
    font-size: 0.75rem;
    margin: 1rem 0 3rem;
    font-weight: 600;
  }
}
main .gallery__content h3 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0.6rem;
}
@media (min-width: 768px) {
  main .gallery__content h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (min-width: 768px) {
  main .gallery__content-paragraph {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
main .gallery__content-paragraph p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  main .gallery__content-paragraph p {
    font-size: 0.82rem;
    line-height: 1.2rem;
  }
}
@media (min-width: 768px) {
  main .gallery {
    margin: 0 5rem;
  }
}
@media (min-width: 1280px) {
  main .gallery {
    margin: 0 12rem;
  }
}
main .photo-gallery {
  background-color: #FAFAFA;
  padding: 1rem;
}
main .photo-gallery__text h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.6rem 0 1rem;
  color: #323232;
}
@media (min-width: 768px) {
  main .photo-gallery__text h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0.8rem 0 2rem;
  }
}
main .photo-gallery__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
main .photo-gallery__imgs img {
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.5s ease-in-out;
}
@media (min-width: 768px) {
  main .photo-gallery__imgs img {
    width: calc(33.33% - 1rem);
  }
}
main .photo-gallery__imgs img:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  main .photo-gallery__imgs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  main .photo-gallery {
    padding: 2.2rem;
  }
}
@media (min-width: 1280px) {
  main .photo-gallery {
    padding: 2.2rem 7rem;
  }
}
main .comments {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0;
  border-bottom: 1px solid #E1E1E1;
}
main .comments h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0 0 1rem;
}
@media (min-width: 768px) {
  main .comments h1 {
    margin: 0 0 2rem -3.6rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 1280px) {
  main .comments h1 {
    margin: 0 0 1.6rem -16rem;
  }
}
main .comments-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
}
@media (min-width: 768px) {
  main .comments-forms {
    gap: 0.2rem;
  }
}
main .comments-forms__img {
  margin-top: 1.2rem;
}
main .comments-forms__img img {
  width: 2.6rem;
  height: 2.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media (min-width: 768px) {
  main .comments-forms__img img {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  main .comments-forms__img {
    margin-top: 1.6rem;
  }
}
main .comments-forms__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  main .comments-forms__content {
    gap: 1.4rem;
  }
}
main .comments-forms__content-sec {
  display: flex;
  flex-direction: column;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
main .comments-forms__content-sec label {
  color: #AFAFAF;
  font-weight: 600;
}
@media (min-width: 768px) {
  main .comments-forms__content-sec label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0 0 0.1rem;
  }
}
@media (min-width: 1280px) {
  main .comments-forms__content-sec label {
    font-size: 0.82rem;
    line-height: 1.2rem;
  }
}
main .comments-forms__content-sec input {
  border: none;
  outline: none;
  padding: 0.75rem;
  width: 66vw;
  border-style: solid;
  border-width: 0.062rem;
  border-color: #E1E1E1;
  background-color: #FAFAFA;
  border-radius: 0.25rem;
  box-sizing: border-box;
  font-size: 0.85rem;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  main .comments-forms__content-sec input {
    padding: 1rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
@media (min-width: 1280px) {
  main .comments-forms__content-sec input {
    width: 32vw;
    font-size: 0.8rem;
  }
}
main .comments-forms__content-sec input:focus {
  border-color: #323232;
}
main .comments-forms__content-sec input.filled {
  border-color: #E1E1E1;
  background-color: #FAFAFA;
}
main .comments-forms__content-sec input::-moz-placeholder {
  color: #000000;
}
main .comments-forms__content-sec input::placeholder {
  color: #000000;
}
main .comments-forms__content-sec textarea {
  padding: 0.75rem;
  height: 26vw;
  background-color: #FAFAFA;
  border-width: 0.062rem;
  border-color: #E1E1E1;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #323232;
}
@media (min-width: 768px) {
  main .comments-forms__content-sec textarea {
    padding: 1rem;
    height: 8vw;
  }
}
main .comments-forms__content-sec textarea::-moz-placeholder {
  color: #000000;
}
main .comments-forms__content-sec textarea::placeholder {
  color: #000000;
}
main .comments-forms__content-button button {
  width: 100%;
  height: 2.5rem;
  background-color: #323232;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  main .comments-forms__content-button button {
    width: 22vw;
    margin-bottom: 1.4rem;
  }
}
@media (min-width: 1280px) {
  main .comments-forms__content-button button {
    width: 12vw;
    margin-bottom: 1.3rem;
  }
}
@media (min-width: 768px) {
  main .comments-forms__content-button {
    display: flex;
    justify-content: end;
  }
}
main .comments-list {
  margin: 0 1rem 1rem;
}
main .comments-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
main .comments-list__img {
  margin-top: 1rem;
}
main .comments-list__img-color {
  width: 2.6rem;
  height: 2.6rem;
  background-color: #E1E1E1;
  border-radius: 50%;
}
@media (min-width: 1280px) {
  main .comments-list__img {
    margin-top: 1.6rem;
  }
}
main .comments-list__text {
  width: 88%;
  overflow-wrap: break-word;
}
main .comments-list__text-first {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .comments-list__text-first h3 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #323232;
  margin: 1rem 0 0.6rem;
}
@media (min-width: 768px) {
  main .comments-list__text-first h3 {
    margin: 1rem 0 0.3rem;
  }
}
@media (min-width: 1280px) {
  main .comments-list__text-first h3 {
    margin: 1.6rem 0 0.3rem;
  }
}
main .comments-list__text-first h2 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #AFAFAF;
  font-weight: 400;
  margin: 1rem 0 0.6rem;
}
@media (min-width: 768px) {
  main .comments-list__text-first h2 {
    margin: 1rem 0 0.3rem;
  }
}
main .comments-list__text-second p {
  margin-top: 0;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 1280px) {
  main .comments-list__text-second p {
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 768px) {
  main .comments-list {
    margin: 0 6rem 2rem;
  }
}
@media (min-width: 1280px) {
  main .comments-list {
    margin: 0 25em 2rem;
  }
}
@media (min-width: 768px) {
  main .comments {
    margin: 3rem 6rem 0;
  }
}
@media (min-width: 1280px) {
  main .comments {
    margin: 3rem 25rem 0;
  }
}
main .comments #fullName.error {
  border-color: rgb(255, 0, 0);
}
main .comments #comments {
  resize: none;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.2rem 7rem;
  }
}
.footer-text__hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .footer-text__hide-mobile {
    display: block;
  }
}
.footer-text__top h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.8rem 0 1rem;
}
@media (min-width: 768px) {
  .footer-text__top h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer-text__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
}
.footer-text__top-icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer-text__top-icons {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.footer-address__span {
  display: block;
}
@media (min-width: 768px) {
  .footer-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer-address {
    justify-content: flex-start;
    gap: 4rem;
  }
}
.footer-address h3 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.8rem;
  font-weight: 600;
}
.footer-address p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
.footer-address p a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer-address p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-text__hide-desktop {
  margin-top: 2.8rem;
}
@media (min-width: 768px) {
  .footer-text__hide-desktop {
    display: none;
  }
}
.footer-copyright p {
  font-size: 0.7rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer-copyright p {
    margin: 1.5rem 0;
  }
}/*# sourceMappingURL=bio.css.map */