@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    gap: 4rem;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 5rem;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.85rem;
}
.header__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
.header__text h3 {
  margin: 0;
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #E1E1E1;
}
.header__text-link {
  border-bottom: 0.1875rem solid transparent;
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
}
.header__text-link:hover, .header__text-link:active {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__text-link:hover h3, .header__text-link:active h3 {
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .header__text h3 {
    padding: 1.8rem 0 0.8rem;
  }
}

main .hero {
  height: 82vw;
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
main .hero__content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .hero__content-text {
  width: 80vw;
}
main .hero__content-text h1 {
  z-index: 1;
  color: #FFFFFF;
  margin: 0;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main .hero__content-text {
    margin: 2rem;
    font-family: "Avenir Next";
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  main .hero__content-text {
    margin: 7.8rem;
    font-family: "Avenir Next";
    font-size: 3.6rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  main .hero__content {
    background-position: bottom;
  }
}
@media (min-width: 1280px) {
  main .hero__content {
    height: 38rem;
    background-position: 0% -2em;
  }
}
main .hero__content h2 {
  z-index: 1;
  color: #FFFFFF;
  margin: 0;
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.2rem 7rem 2.2rem 7rem;
  }
}
.footer-text__hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .footer-text__hide-mobile {
    display: block;
  }
}
.footer-text__top h2 {
  font-family: "Avenir Next";
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.8rem 0 1rem;
}
@media (min-width: 768px) {
  .footer-text__top h2 {
    font-family: "Avenir Next";
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer-text__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
}
.footer-text__top-icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer-text__top-icons {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.footer-address__span {
  display: block;
}
@media (min-width: 768px) {
  .footer-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer-address {
    justify-content: flex-start;
    gap: 4rem;
  }
}
.footer-address h3 {
  font-family: "Avenir Next";
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.8rem;
  font-weight: 600;
}
.footer-address p {
  font-family: "Avenir Next";
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
.footer-address p a {
  color: inherit;
  text-decoration: none;
  text-decoration-style: none;
}
@media (min-width: 768px) {
  .footer-address p {
    font-family: "Avenir Next";
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-text__hide-desktop {
  margin-top: 2.8rem;
}
@media (min-width: 768px) {
  .footer-text__hide-desktop {
    display: none;
  }
}
.footer-copyright p {
  font-family: "Avenir Next";
  font-size: 0.7rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer-copyright p {
    margin: 1.5rem 0;
  }
}/*# sourceMappingURL=shows.css.map */