@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  font-family: "Avenir Next";
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    align-items: center;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 0 5rem;
    width: 100%;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 0.4rem 0;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0.8rem 4rem 0.6rem 0;
  }
}
@media (min-width: 1280px) {
  .header__logo {
    padding: 1.6rem 4rem 1rem 0;
  }
}
.header__logo a {
  text-decoration: none;
}
.header__text {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__text a {
  text-decoration: none;
}
.header__text h3 {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #E1E1E1;
}
.header__text-link {
  border-bottom: 0.1875rem solid transparent;
  width: 50%;
  text-align: center;
  padding-bottom: 0.4rem;
}
.header__text-link.active, .header__text-link:hover, .header__text-link:active {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__text-link.active h3, .header__text-link:hover h3, .header__text-link:active h3 {
  font-weight: 600;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .header__text-link {
    padding: 0.8rem 0rem 1rem 0;
  }
}
@media (min-width: 768px) {
  .header__text {
    gap: 4rem;
  }
  .header__text h3 {
    padding: 1.8rem 0 0.8rem;
  }
}

main .hero {
  height: 86vw;
  background: linear-gradient(0deg, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("/assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
@media (min-width: 768px) {
  main .hero {
    height: 62vw;
    background-position: 0rem -5rem;
  }
}
@media (min-width: 1280px) {
  main .hero {
    height: 48vw;
    background-position: 0rem -9rem;
    align-items: center;
    padding: 2rem;
  }
}
main .hero__content {
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1rem;
}
main .hero__content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  gap: 1rem;
}
main .hero__content-text h1 {
  z-index: 1;
  color: #FFFFFF;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  main .hero__content-text h1 {
    width: 70vw;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  main .hero__content-text h1 {
    width: 38vw;
  }
}
@media (min-width: 768px) {
  main .hero__content-text {
    gap: 0.8rem;
  }
}
@media (min-width: 1280px) {
  main .hero__content-text {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }
}
main .hero__content h2 {
  z-index: 1;
  color: #FFFFFF;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  main .hero__content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 0.98rem;
  }
}
main .hero__content-sound {
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
main .hero__content-sound iframe {
  height: 30vw;
}
@media (min-width: 768px) {
  main .hero__content-sound iframe {
    height: 18vw;
    width: 54.5vw;
  }
}
@media (min-width: 1280px) {
  main .hero__content-sound iframe {
    height: 52%;
    width: 34.5vw;
  }
}
@media (min-width: 768px) {
  main .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: bottom;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
    margin: 2.8rem 2.8rem 3.8rem;
  }
}
@media (min-width: 1280px) {
  main .hero__content {
    width: 100%;
    height: 18rem;
    background-position: 0 -15rem;
    font-size: 3.6rem;
    font-weight: 600;
    flex-direction: row;
    justify-content: space-around;
  }
}
main .shows-title {
  font-size: 0.98rem;
  margin: 2rem 0 1.2rem 1rem;
}
main .shows-title h1 {
  font-weight: 600;
}
@media (min-width: 768px) {
  main .shows-title h1 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 3rem 0 1.2rem 1rem;
  }
}
@media (min-width: 1280px) {
  main .shows-title h1 {
    margin: 2rem 0 1.2rem 1rem;
    font-weight: 600;
  }
}
main .shows-subtitle {
  display: none;
}
@media (min-width: 768px) {
  main .shows-subtitle {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9.4rem;
    margin: 1.4rem 2rem -1.4rem;
  }
}
@media (min-width: 1280px) {
  main .shows-subtitle {
    margin: 4.4rem 2rem -1.4rem;
  }
}
main .shows-subtitle h2 {
  color: #AFAFAF;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  main .shows-subtitle h2 {
    margin-bottom: 1.6rem;
  }
}
@media (min-width: 1280px) {
  main .shows-subtitle h2 {
    margin-bottom: 1.6rem;
  }
}
main .shows-subtitle #hide {
  visibility: hidden;
  width: 20vw;
}
main .shows-list ul {
  padding: 0;
}
@media (min-width: 768px) {
  main .shows-list ul {
    padding: 0 0 0.8rem 0;
  }
}
main .shows-list__li {
  margin: 1rem 0 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  gap: 0.95rem;
  border-bottom: 1.6px solid #E1E1E1;
  position: relative;
}
main .shows-list__li-item {
  margin: 0 0 0 1rem;
}
main .shows-list__li-item h2,
main .shows-list__li-item h3 {
  margin: 0;
}
main .shows-list__li-item h2 {
  color: #AFAFAF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  main .shows-list__li-item h2 {
    display: none;
  }
}
main .shows-list__li-item h3 {
  color: #323232;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  main .shows-list__li-item h3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}
main .shows-list__li-button button {
  margin: 0 1rem 1rem 1rem;
  width: 90vw;
  height: 2.5rem;
  background-color: #323232;
  border-radius: 0.25rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  main .shows-list__li-button button {
    width: 20vw;
    margin: 0.4rem 1rem 0.8rem 1rem;
  }
}
@media (min-width: 768px) {
  main .shows-list__li {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}
main .shows-list #date-id {
  font-weight: 600;
}
@media (min-width: 768px) {
  main .shows-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 768px) {
  main .shows {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  main .shows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  main {
    width: 100%;
    margin-right: 18rem;
  }
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.2rem;
    width: 90%;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 2.2rem 7rem 2.2rem 7rem;
  }
}
.footer-text__hide-mobile {
  display: none;
}
@media (min-width: 768px) {
  .footer-text__hide-mobile {
    display: block;
  }
}
.footer-text__top h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.8rem 0 1rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer-text__top h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer-text__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }
}
.footer-text__top-icons {
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .footer-text__top-icons {
    height: 1.5rem;
  }
}
@media (min-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.footer-address__span {
  display: block;
}
@media (min-width: 768px) {
  .footer-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer-address {
    justify-content: flex-start;
    gap: 4rem;
  }
}
.footer-address h3 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1.8rem;
  font-weight: 600;
}
.footer-address p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
.footer-address p a {
  color: inherit;
  text-decoration: none;
  text-decoration-style: none;
}
@media (min-width: 768px) {
  .footer-address p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.footer-text__hide-desktop {
  margin-top: 2.8rem;
}
@media (min-width: 768px) {
  .footer-text__hide-desktop {
    display: none;
  }
}
.footer-copyright p {
  font-size: 0.7rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer-copyright p {
    margin: 1.5rem 0;
  }
}/*# sourceMappingURL=shows.css.map */