@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;

body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    background-color: $BandSite-Black;

    @include tablet {
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        gap: 4rem;
        align-items: center;
        padding-bottom: 0;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &__logo {
        @include flex-center;
        padding: 0.85rem;
    }

    &__text {
        @include flex-space-around;
        gap: 4rem;

        h3 {
            margin: 0;
            @include mobile-sub-header;
            font-weight: 400;
            color: $Mercury;
        }

        &-link {
            border-bottom: 0.1875rem solid transparent;
            width: 50%;
            text-align: center;
            padding-bottom: 0.5rem;

            &:hover,
            &:active {
                border-bottom: 0.1875rem solid $White;

                h3 {
                    font-weight: 600;
                    color: $White;
                }
            }
        }

        @include tablet {
            h3 {
                padding: 1.8rem 0 0.8rem;
            }
        }

    }
}

main {
    .hero {
        height: 82vw;
        background: linear-gradient(0deg, rgba($BandSite-Black, 0.5), rgba($BandSite-Black, 0.5)), url("/assets/Images/hero-shows.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        
        
        

        &__content {
            margin: 1rem ;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &-text {
                width: 80vw;
                h1 {
                    z-index: 1;
                    color: $White;
                    margin: 0;
                    @include mobile-section-header;
                }

                @include tablet {
                    margin: 2rem;
                    @include tablet-page-header;
                    font-weight: 600;
                }

                @include desktop {
                    margin: 7.8rem;
                    font-family: 'Avenir Next';
                    font-size: 3.6rem;
                    font-weight: 600;
                }
            }

            @include tablet {
                background-position: bottom;
            }

            @include desktop {
                height: 38rem;
                background-position: 0% -2em;
            }

            h2 {
                z-index: 1;
                color: $White;
                margin: 0;
                @include mobile-sub-header;
                font-weight: 400;
            }

            &-sound{
               

            }

        }


    }

    

}


.footer {
    background-color: $BandSite-Black;
    color: $White;
    padding: 1rem;

    @include tablet {
        padding: 2.2rem;
    }

    @include desktop {
        padding: 2.2rem 7rem 2.2rem 7rem;
    }

    &-text {
        &__hide-mobile {
            display: none;

            @include tablet {
                display: block;
            }
        }

        &__top {
            h2 {
                @include mobile-section-header;
                margin: 0.8rem 0 1rem;

                @include tablet {
                    @include tablet-section-header;
                }
            }

            @include tablet {
                @include flex-space-between;
                gap: 2.4rem;
            }

            &-icons {
                display: flex;
                gap: 2rem;

                @include tablet {
                    height: 1.5rem;
                }
            }
        }

        @include tablet {
            @include flex-space-between;
            flex-direction: row;
        }
    }

    &-address {
        &__span {
            display: block;
        }

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desktop {
            justify-content: flex-start;
            gap: 4rem;
        }

        h3 {
            @include mobile-sub-header;
            margin-top: 1.8rem;
            font-weight: 600;
        }

        p {
            a {
                color: inherit;
                text-decoration: none;
                text-decoration-style: none;
            }

            @include mobile-footer-copy;
            margin-bottom: 1rem;

            @include tablet {
                @include tablet-footer-copy;
            }
        }
    }

    &-text__hide-desktop {
        margin-top: 2.8rem;

        @include tablet {
            display: none;
        }
    }

    &-copyright {
        p {
            font-family: 'Avenir Next';
            font-size: 0.7rem;
            margin-top: 1rem;

            @include tablet {
                margin: 1.5rem 0;
            }
        }
    }
}